#root {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    
  }
  
  body{
  
    background: white;
   color: black; 
   
   
  
  }
  .citizen-App{
    justify-content: center;
    align-items: center;
    left: 100%;
    
    max-width: 550px;
    margin: 0 auto;
    margin-left: 16px;
    position: relative;
    left: 28%;

    
  }
  
  .citizen-form{
    display: flex;
    width: 500px; 
    height: 50%;
    margin: auto; 
    margin-top: 50px; 
    padding: 20px; 
    border: 1px solid #ccc; 
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
   
   
    

  }
  
  .citizen-form-group{ 
    display: flex;
    flex-direction: column;
  color: black;
  background-color: white;
  padding: 10px 20px;
  
  
  
  
   }
  .citizen-form-control{
    display: flex;
   background-color: white;
   color: black;
   border-radius: 5px; 
   /* flex-direction: column;  */
   padding: 5px 0 5px; 
   margin-bottom: 15px; 
  
  
  }
  
  .citizen-form-group input{
    width: 300px;
    padding: 2% 4%;
    height: 25PX;
  }
  .citizen-btn{
    background-color: #4D2D4A;
    color: white;
    width: 111px;
    height: 37px;
    border-radius: 90px;
  }
  
  .citizen-btn:hover{
    background-color: white;
    color: #4D2D4A;
  }
  .citizen-form-label{
    font-weight: 300;
    
  }

  .msg1{
    /* margin-left: 50%;
    background-color: skyblue;
    width: 100%;
     */
     margin-left: 80%;
    padding: 2% 3%;
    font-weight: bold;
    border-radius: 8px;


    border-left: 2px solid rgb(6, 55, 29);
    background-color: green;
    color: white;
    /* left: 100%; */
    /* width: 15%;
    height: 5%; */
    text-align: center;
    margin-bottom: -10%;
  }

  .msg2{
    margin-left: 20%;
    margin-top: 2%;
    padding: 1% ;
    border-left: 2px solid red;
    background-color: rgb(230, 125, 125);
    color: rgb(84,23,23);
    margin-left: 40%;
    width: 20%;
    text-align: center;
  }
 
 



  
  
  